.contact{
    position: relative;
    right: 3px;
    top: 20px
  }

.has-error label,
.has-error input,
.has-error textarea {
            color: #dc3545;
            border-color: #dc3545;
        }

.list-unstyled li {
            font-size: 13px;
            padding: 4px 0 0;
            color: #dc3545;
        }

.container-contacto{
  margin-bottom: 360px;
  margin-top: 50px;
}

.box{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

form{
  width: 100%;
}

@media(max-width: 640px){
  .container-contacto{
    width: 100%;
    max-width: 400px;
    margin-bottom: 200px;
    top: 80px;
  }
}

@media(max-width: 450px){
  .container-contacto{
    max-width: 300px;
  }
}