
.texto-habilidades{
    position: relative;
    top: 150px;
    text-align: center;
  }
  
  .section-skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 400px;
  }

  .card{
    height: 210px;
    align-items: center;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    top: 200px;
  }

  @media(max-width: 500px){
    .card{
      width: 100%;
      max-width: 200px;
      justify-content: space-between;
      height: auto;
      text-align: justify;
    }
  }
  
  