
.texto-habilidades{
    position: relative;
    top: 150px;
    text-align: center;
  }
  
  .box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .box-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
  }

  .card{ 
    height: 210px;
    position: relative;
    top: 200px;  
  }

  .section-skills{
        margin-bottom: 350px;
  }

@media(max-width: 900px){
     .card{
       margin-top: 20px;
     }
     .box-2{
      margin-top: -60px;
     }
}  