.titulo-proyecto{
  position: relative;
  top: 150px;  
}

.section-projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 400px;
    margin-top: 50px;
}

.card{
  position: relative;
  top: 200px;
}
  
.img-roseweather{
  height: 250px;
}

@media(max-width: 576px){
  .section-projects{
    position: relative;
    left: 180px;
    width: 100%;  
  }
  .titulo-proyecto{
    right: 100px;
  }
  .card{
    width: 100%;
    max-width: 350px;
    margin-right: 200px;    
  }
}