.titulo-proyecto{
  position: relative;
  top: -100px;
  margin-top: 300px;  
}

.box{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
  
}

.img-roseweather{
  height: 230px;
}

.section-projects{
  margin-bottom: 200px;
}

@media(max-width: 1200px){
  .card{
    margin-top: 20px;
  } 
}